<!-- if item editable show edit template 
else show item's properties -->
<div class="item__prop-head">
  <div class="item__info">
    <div class="item__wrapper-left">
      <div class="item__id">id</div>
      <div class="item__name">name</div>
    </div>
    <div class="item__desc">description</div>
    <div class="item__price">price</div>
  </div>
  <div class="item__prop-edit-head">edit</div>
</div>
<div *ngFor="let item of items"
  (click)="stubItem()"
  class="item__prop">
  <div *ngIf="editableItem === item; else showItem"
    class="item__edit-container">
    <div class="item__info-edit">
      <div class="item__id">{{item.id}}</div>
      <div class="item__wrapper-center">
        <div>
          <input [(ngModel)]="item.name">
        </div>
        <div>
          <input [(ngModel)]="item.desc">
        </div>
        <div>
          <input [(ngModel)]="item.price">
        </div>
      </div>
      <div class="item__btns-side">
        <ng-container *ngIf="editableItem === item">
          <div (click)="editItem(item)"
            class="item__prop-save">
          </div>
        </ng-container>
        <ng-template #save_btn>
          <div (click)="editItem(item)"
            class="item__prop-edit">
          </div>
        </ng-template>
        <div (click)="removeItem(item)"
          class="item__btn-remove">
        </div>
      </div>
    </div>
  </div>
  <ng-template #showItem>
    <div class="item__info">
      <div class="item__wrapper-left">
        <div class="item__id">{{item.id}}</div>
        <div class="item__name">{{item.name}}</div>
      </div>
      <div class="item__desc">{{item.desc}}</div>
      <div class="item__price">{{item.price}} $</div>
    </div>
    <div (click)="editItem(item)"
      class="item__prop-edit">
    </div>
  </ng-template>
</div>

<div class="item__btns">
  <ng-container *ngIf="newItem.id === 0">
    <div (click)="createItem()"
      class="item__btn-add">
    </div>
  </ng-container>
  <ng-container *ngIf="newItem.id !== 0">
    <div (click)="cancelItem()"
      class="item__btn-cancel">
    </div>
    <div (click)="saveItem()"
      class="item__btn-save">
    </div>
  </ng-container>
</div>

<div *ngIf="newItem.id !== 0">
  <div class="item-new__container">
    <input [(ngModel)]="newItem.name">
    <input [(ngModel)]="newItem.desc">
    <input [(ngModel)]="newItem.price">
  </div>
</div>