.item__prop{
  border-color: blue;
  border-style: solid;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item__prop-edit{
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}
.item__btn-add{
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.item__btn-cancel{
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}
.item__btn-save{
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
}