<div class="wrapper">
  <div class="flight__tabs">
    <div class="flight__tabs-in"
    (click)="switchTab('arrival')"
    [ngClass]="{'pressed': flightStatus === 'arrival'}">
      In
    </div>
    <div class="flight__tabs-out"
    (click)="switchTab('departure')"
    [ngClass]="{'pressed': flightStatus === 'departure'}">
      Out
    </div>
  </div>
  <div class="container__search">
    <div class="container__search-label"> Search: </div>
    <input type="text" [(ngModel)]="flightFilter.apname" placeholder="type country">
  </div>
  <div class="container__filterTime">
    <div class="container__filterTime-label"> Time filter: </div>
    <input type="number" [(ngModel)]="hoursFilter" placeholder="00">
    <input type="number" [(ngModel)]="minsFilter" placeholder="00">
  </div>
  <div class="flight__container-header">
    <div class="flight__container-index">№</div>
    <div class="flight__container-wrapper_center">
      <div class="flight__container-status"
        (click)="switchSort('status')"
        [ngClass]="{'sorted': sortedColumn === 'status'}">
        Status
      </div>
      <div class="flight__container-wrapper_inner">
        <div class="flight__container-terminal"
          (click)="switchSort('terminal')"
          [ngClass]="{'sorted': sortedColumn === 'terminal'}">
          Terminal
        </div>
        <div class="flight__container-name"
          (click)="switchSort('apname')"
          [ngClass]="{'sorted': sortedColumn === 'apname'}">
          Name
        </div>
      </div>
      <div class="flight__container-gate"
        (click)="switchSort('gate')"
        [ngClass]="{'sorted': sortedColumn === 'gate'}">
        Gate
      </div>
    </div>
    <div class="flight__container-time"
      (click)="switchSort('sched')"
      [ngClass]="{'sorted': sortedColumn === 'sched'}">
      Time
    </div>
  </div>
  <ng-container *ngIf="flightStatus === 'departure'">
    <div *ngFor="let flight of flightsOut | filterBy: flightFilter | orderBy: sortedColumn : sortedReverse | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
      <div class="wrapper">
        <ng-container *ngIf="hoursFilter <= flight.sched.substring(11, 13) ">
          <ng-container *ngIf="minsFilter <= flight.sched.substring(14, 16) ">
            <div class="flight__container">
              <div class="flight__container-index">{{i + 1}}</div>
              <div class="flight__container-wrapper_center">
                <div class="flight__container-status"
                  [ngClass]="{'sorted': sortedColumn === 'status'}">
                  <ng-container *ngIf="flight.status !== ''; else noData">
                    {{flight.status}}
                  </ng-container>
                  <ng-template #noData>
                    N/A
                  </ng-template>
                </div>
                <div class="flight__container-wrapper_inner">
                  <div class="flight__container-terminal"
                    [ngClass]="{'sorted': sortedColumn === 'terminal'}">
                    {{flight.terminal}}
                  </div>
                  <div class="flight__container-name"
                    [ngClass]="{'sorted': sortedColumn === 'apname'}">
                    {{flight.apname}}
                  </div>
                </div>
                <div class="flight__container-gate"
                  [ngClass]="{'sorted': sortedColumn === 'gate'}">
                    <ng-container *ngIf="flight.gate !== ''; else noData">
                      {{flight.gate}}
                    </ng-container>
                    <ng-template #noData>
                      N/A
                    </ng-template>
                </div>
              </div>
              <div class="flight__container-time"
                [ngClass]="{'sorted': sortedColumn === 'sched'}">
                {{flight.sched.substring(11, 16)}}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ng-container>
  <ng-container *ngIf="flightStatus === 'arrival'">
    <div *ngFor="let flight of flightsIn | filterBy: flightFilter | orderBy: sortedColumn : sortedReverse | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
      <div class="wrapper">
        <ng-container *ngIf="hoursFilter <= flight.sched.substring(11, 13) ">
          <ng-container *ngIf="minsFilter <= flight.sched.substring(14, 16) ">
            <div class="flight__container">
              <div class="flight__container-index">{{i + 1}}</div>
              <div class="flight__container-wrapper_center">
                <div class="flight__container-status"
                  [ngClass]="{'sorted': sortedColumn === 'status'}">
                  N/A
                </div>
                <div class="flight__container-wrapper_inner">
                  <div class="flight__container-terminal"
                    [ngClass]="{'sorted': sortedColumn === 'terminal'}">{{flight.terminal}}
                    </div>
                  <div class="flight__container-name"
                    [ngClass]="{'sorted': sortedColumn === 'apname'}">
                    {{flight.apname}}
                  </div>
                </div>
                <div class="flight__container-gate"
                  [ngClass]="{'sorted': sortedColumn === 'gate'}">
                  <ng-container *ngIf="flight.gate !== ''; else noData">
                    {{flight.gate}}
                  </ng-container>
                  <ng-template #noData>
                    N/A
                  </ng-template>
                </div>
              </div>
              <div class="flight__container-time"
                [ngClass]="{'sorted': sortedColumn === 'sched'}">
                {{flight.sched.substring(11, 16)}}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ng-container>
</div>