.content__container{
  min-width: 320px;
  max-width: 1024px;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.shops__container{
  min-width: 320px;
  max-width: 1024px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.shops__container-details{
  border-color: #28363d;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.shop__prop{
  width: auto;
  height: auto;
  min-height: 60px;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #28363d;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;
  justify-content: space-between;
}
.shop__info, .shop__btns{
  display: flex;
  flex-direction: row;
}
.shop__info{
  width: 100%;
}
.shop__id, .shop__name, .shop__address{
  padding-left: 10px;
  padding-right: 10px;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #28363d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop__id{
  width: 60px;
}
.shop__wrapper-right{
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.shop__wrapper-center{
  width: auto;
  width: calc(100% - 260px);
  display: flex;
  flex-direction: row;
}
.shop__name{
  width: 50%;
  min-width: 200px;
}
.shop__address{
  width: 50%;
  min-width: 200px;
}
.shop__schedule{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: #28363d;
  padding-left: 5px;
  padding-right: 5px;
}
.shop__days{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.shop__days-work, .shop__days-weekend{
  height: 15px;
  width: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #28363d;
  margin: 1px;
}
.shop__edit-days{
  display: flex;
  flex-direction: row;
}
.shop__edit-days input{
  margin-top: auto;
}
.shop__days-work{
  background-color: green;
}
.shop__days-weekend{
  background-color: red;
}
.shop__info-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.shop__btns-side{
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}
.shop__info-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shop__info-edit input{
  font-family: "Mariad Pro";
  font-size: 15px;
}
.shop__btn-edit, .shop__btn-remove, .shop__btn-save-sm{
  width: 50px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.shop__btn-edit{
  background-image: url("img/btn-edit.png");
}
.shop__btn-remove{
  height: 60px;
  border-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #28363d;
  background-image: url("img/btn-rm.png");
}
.shop__btn-save-sm{
  height: 60px;
  border-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #28363d;
  background-image: url("img/btn-save.png");
}
.shop__btns{
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.shop__btn-add, .shop__btn-cancel, .shop__btn-save{
  width: 48px;
  height: 48px;
  padding: 20px;
  background-size: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.shop__btn-add{
  background-image: url("img/btn-add.png");
}
.shop__btn-cancel{
  background-image: url("img/btn-cancel.png");
}
.shop__btn-save{
  background-image: url("img/btn-save.png");
}
.shop__new{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-shop__inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 30px;
  padding-bottom: 30px;
}
.new-shop__inputs input{
  font-family: "Mariad Pro";
  font-size: 20px;
}

.item__container{
  min-width: 320px;
  max-width: 1024px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
agm-map {
  height: 500px;
  width: 500px;
}