.shop__container{
  border-color: red;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
}
.shop__prop{
  width: 100%;
  font-size: 18px;
  font-family: "Myriad Pro";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.shop__prop-edit{
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}
.shop__btn-add{
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}
.shop__btn-cancel{
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  cursor: pointer;
}
.shop__btn-save{
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  cursor: pointer;
}
.shop__btn-remove{
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  background-color: red;
  cursor: pointer;
}
.item__container{
  border-color: yellow;
  border-style: solid;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}