<!-- open shop's items if clicked-->
<div class="content__container">
  <div dnd-sortable-container 
    [sortableData]="shops"
    class="shops__container">
    <div *ngFor="let shop of shops; let i = index"
      dnd-sortable [sortableIndex]="i"
      class="shops__container-details"
      (click)="onSelect(shop)"
      [class.selected]="shop === selectedShop">
      <!-- if pressed edit btn then show edit template
      else show shop's properties -->
      <div class="shop__prop">
        <div *ngIf="editableShop === shop; else showShop"
          class="shop__info-container">
          <div class="shop__info-edit">
            <div class="shop__id">{{i + 1}}</div>
            <div>
              <input [(ngModel)]="shop.name">
            </div>
            <div>
              <input [(ngModel)]="shop.address">
            </div>
            <div>
              <input [(ngModel)]="shop.startTime">
              </div>
            <div>
              <input [(ngModel)]="shop.endTime">
            </div>
          </div>
          <div class="shop__btns-side">
            <div (click)="editShop(shop)"
              class="shop__btn-save-sm">
            </div>
            <div (click)="removeShop(shop)"
              class="shop__btn-remove">
            </div>
          </div>
        </div>
        <ng-template #showShop>
          <div class="shop__id">{{i + 1}}</div>
          <div class="shop__name">{{shop.name}}</div>
          <div class="shop__address">{{shop.address}}</div>
          <div class="shop__time">{{shop.startTime}}</div>
          <div class="shop__time">{{shop.endTime}}</div>
        </ng-template>
        <!-- edit btn -->
        <div class="shop__btns-side">
          <ng-container *ngIf="editableShop !== shop">
            <div (click)="editShop(shop)"
              class="shop__btn-edit">
            </div>
          </ng-container>
        </div>
      </div>
      <!-- prevent showing shop's items if shop is editable -->
      <div *ngIf="editableShop !== shop">
        <item *ngIf="selectedShop === shop"
          class="item__container">
        </item>
      </div>
    </div>
  </div>
  
  <div class="shop__btns">
    <ng-container *ngIf="newShop.id === 0">
      <div (click)="createShop()"
        class="shop__btn-add">
      </div>
    </ng-container>
    <ng-container *ngIf="newShop.id !== 0">
      <div (click)="cancelShop()"
        class="shop__btn-cancel">
      </div>
      <div (click)="saveShop()"
        class="shop__btn-save">
      </div>
    </ng-container>
  </div>

  <div class="shop__edit-map">
    <ng-container *ngIf="editableShop">
      <agm-map [latitude]=editableShop.latitude
      [longitude]=editableShop.longitude>
        <agm-marker 
          [latitude]=editableShop.latitude
          [longitude]=editableShop.longitude
          [markerDraggable]="true"
          (dragEnd)="setCoords($event)">
        </agm-marker>
      </agm-map>
    </ng-container>
  </div>

  <div class="shop__new">
    <ng-container *ngIf="newShop.id !== 0">
      <div class="new-shop__inputs">
        <input [(ngModel)]="newShop.name">
        <input [(ngModel)]="newShop.address">
        <input [(ngModel)]="newShop.startTime">
        <input [(ngModel)]="newShop.endTime">
      </div>
      <!-- map with draggable cursor for new shop -->
      <agm-map [latitude]=newShop.latitude [longitude]=newShop.longitude>
        <agm-marker 
          [latitude]=newShop.latitude
          [longitude]=newShop.longitude
          [markerDraggable]="true"
          (dragEnd)="setCoords($event)">
        </agm-marker>
      </agm-map>
    </ng-container>

    <!-- map for selected shop -->
    <div *ngIf="selectedShop && !editableShop">
      <div *ngIf="newShop.id === 0">
        <agm-map [latitude]=selectedShop.latitude [longitude]=selectedShop.longitude>
          <agm-marker 
            [latitude]=selectedShop.latitude
            [longitude]=selectedShop.longitude>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>